<head>
    <title>Signup || PhotoFramed</title>
    <link href="home.component.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="outbox" id="userHome">
    <div class="heading">
        <h2>PhotoFramed</h2>
    </div>
    <div class="home_nav">
        <h1>HOME</h1>
        <hr/>
    </div>
    <div class="home_body">
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here is Large</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <div class="space"></div>
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <div class="space"></div>
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <br>
        <br>
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <div class="space"></div>
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <div class="space"></div>
        <div class="image_holder" id="grid[]">
            <img src="" alt="Image here" class="img_container">&nbsp;<h3 id="userName[]"> Name Here</h3>
            <img src="" alt="Image here" class="main_img">
            <div style="text-align:center; width:33%;display:inline-block" id="likeCount[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">favorite</i>
                <p>0 likes</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="viewComment[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">chat_bubble_outline</i>
                <p>0 comments</p>
            </div>
            <div style="text-align:center; width:33%;display:inline-block" id="toShare[]">
                <i class="material-icons" style="font-size:32px;color:rgb(177, 72, 124);">share</i>
                <p>0 shares</p>
            </div>
            <hr/>
            <h4>Captions Here</h4>
        </div>
        <br>
        <br>
    </div>
</div>
</body>