<link href="signup.component.css" rel="stylesheet">
<head>
    <title>Signup || PhotoFramed</title>
</head>
<body>
<div class="outbox" id="loginBox">
    <div class="heading">
        <h2>PhotoFramed</h2>
    </div>
    <div class="loginForm">
        <h1>SIGN UP</h1>
        <form>
            <label for="Firstname">First Name:</label> 
            <input type="text" id="userFirstname" name="userFirstname"  placeholder="Enter Firstname" required><br>
            <label for="Lastname">Last Name:</label> 
            <input type="text" id="userLastname" name="userLastname"  placeholder="Enter Lastname" required><br>
            <label for="username">User ID&nbsp;&nbsp;&nbsp; &nbsp; :</label>
            <input type="text" id="userid" name="userid"  placeholder="Enter User ID" required><br>
            <label for="password">Password:</label> 
            <input type="password" id="password" name="password"  placeholder="Enter Password" required>
            <input type="submit" id="submitButton" name="submitButton" value="Submit" >
        </form>
        <h3>Already Exists? <a href="/login" id="signupLink">Login</a></h3>
    </div>
</div>
</body>