h1{
    font-size: 60px;
    color: rgb(177, 72, 124);
}
a{
    text-decoration: none;
    color: rgb(177, 72, 124);
}
h2{
    font-size: 50px;
}
label{
    font-size: 25px;
}
.heading{
    background-color: rgb(177, 72, 124);
    color:#ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    /*height: auto;*/
    text-align: left;
}
.outbox{
    width:99.5%;
    height:99%;
    border:3px solid rgb(177, 72, 124);
}
.loginForm,.signupForm{
    border-radius: 2px;
    background-color: white;
    padding: 50px;
    height: 73%;
}
input[type=text],input[type=password]{
    width:80%;
    padding: 12px 20px;
    margin:8px 0;
    display:inline-block;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=submit]{
    border:none;
    background-color: rgb(177, 72, 124);
    width:50%;
    padding: 12px 20px;
    color:white;
    margin:8px 0;
    display:inline-block;
    border-radius: 5px;
}