<link href="login.component.css" rel="stylesheet">
<title>Login || PhotoFramed</title>
<body>
<div class="outbox" id="loginBox">
    <div class="heading">
        <h2>PhotoFramed</h2>
    </div>
    <div class="loginForm">
        <h1>LOGIN</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter Username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <input type="submit" id="loginButton" name="loginButton" value="Login" >
        </form>
        <h3>New User? <a href="/signup" id="signupLink">Sign Up</a></h3>
    </div>
</div>
</body>